# Project place files
*.rbxl
*.rbxlx

# Roblox Studio lock files
*.rbxl.lock
*.rbxlx.lock

# Rojo / Tooling
sourcemap.json
*.project.json.*
.rojo/

# Packages (if using Wally or others)
Packages/_Index/
test-ez/
